*.font-bebas {
  font-family: "Bebas Neue", cursive !important;
}
*.font-caesar {
  font-family: "Caesar Dressing", cursive !important;
}

*.font-comfortaa {
  font-family: "Comfortaa", cursive !important;
}

*.font-libre {
  font-family: "Libre Barcode 128 Text", cursive !important;
}

*.font-major {
  font-family: "Major Mono Display", monospace !important;
}

*.font-megrim {
  font-family: "Megrim", cursive !important;
}

*.font-monoton {
  font-family: "Monoton", cursive !important;
}

*.font-open {
  font-family: "Open Sans", sans-serif !important;
}

*.font-cond {
  font-family: "Ubuntu Condensed", sans-serif !important;
}

*.font-mono {
  font-family: "Ubuntu Mono", monospace !important;
}

*.font-one {
  font-family: "Unica One", cursive !important;
}

*.full-view {
  height: 60vh;
}
